<li class="chirp-container mb-2">
  <div class="content-wrapper shadow">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column">
        <div class = "chirp-user-row mb-1">
          <span class="mr-2"><%= gravatar_for(chirp.user, 40) %></span>
          <%= chirp_creator(chirp) %>
          <%= delete_chirp_btn(chirp) %>
        </div>
        <div class="chirp-content my-2">
          <%= chirp.content %>
        </div>
        <div class='chirp-comments-section'>
          <% chirp.comments.each do |comment| %>
            <div class="chirp-comments my-2">
              <div class="chirp-thread w-100">
                <span class="mr-2"><%= gravatar_for(comment.user, 40) %></span>
                <span class="mr-2"><%= user_nick(comment) %>:</span>
                <%= comment.content %>
                <span class="ml-auto mr-2"><%= comment_trash(comment) %></span>
              </div>
            </div>
          <% end %>
          <%= form_for(chirp.comments.new, url: chirp_comments_path(chirp), html: { id: 'chirp-comment-form' }) do |form| %>
            <%= form.text_field :content, id: 'comment-content', class: 'form-control', placeholder: 'Add new comment' %>
            <div class="bottom-row w-100">
              <%= form.submit 'Comment', class: 'btn btn-sm outline-primary mt-2 mr-auto' %>
              <div class = "like-btn">
                <span class="likes-count mt-2"><%= likes_count(chirp) %></span>
                <%= like_or_dislike_btn(chirp)%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>
