<li class="chirp-container mb-2">
  <div class="content-wrapper shadow">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column">
        <%= chirp_creator(chirp) %>
        <p class = "likes-counter">
          <%= likes_count(chirp) %>
        </p>
        <p class = "like-btn">
          <%= like_or_dislike_btn(chirp)%>
        </p>
        <p class="chirp-content">
          <%= chirp.content %>
        </p>
        <div class='chirp-comments-section'>
          <% chirp.comments.each do |comment| %>
            <div class="chirp-comments">
              <p>
                <b><%= user_nick(comment) %>:</b>
                <%= comment.content %>
                <%= comment_trash(comment) %>
              </p>
            </div>
          <% end %>

          <%= form_for(chirp.comments.new, url: chirp_comments_path(chirp)) do |form| %>
            <%= form.text_field :content, id: :comment_content, class: 'form-control', placeholder: 'Add new comment' %>
            <%= form.submit 'Comment', class: 'btn btn-sm outline-primary mt-3' %>
            <%= delete_chirp_btn(chirp) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>
