<div class="who-to-panel">
  <div class="banner d-flex py-3 w-100">
    <span class="banner-text" > who to follow </span>
    <%= link_to '#' do %>
      <i class="fas fa-sync"></i>
    <% end %>
  </div>
  <div class="follow-list">
    <div class="d-flex user-tile w-100 justify-content-around align-items-center py-4">
      <div class="avatar">
        <%= gravatar_for(current_user, 65) %>
      </div>
      <div class="user-calling">
        <div class="f_name"><%= current_user.full_name %></div>
        <div class="u_name"><%= symbol_nick current_user%></div>
      </div>
    </div>
    <div class="d-flex user-tile w-100 justify-content-around align-items-center py-4">
      <div class="avatar">
        <%= gravatar_for(current_user, 75) %>
      </div>
      <div class="user-calling">
        <div class="f_name"><%= current_user.full_name %></div>
        <div class="u_name"><%= symbol_nick current_user%></div>
      </div>
    </div>
    <div class="d-flex user-tile w-100 justify-content-around align-items-center py-4">
      <div class="avatar">
        <%= gravatar_for(current_user, 75) %>
      </div>
      <div class="user-calling">
        <div class="f_name"><%= current_user.full_name %></div>
        <div class="u_name"><%= symbol_nick current_user%></div>
      </div>
    </div>
    <div class="d-flex user-tile w-100 justify-content-around align-items-center py-4">
      <div class="avatar">
        <%= gravatar_for(current_user, 75) %>
      </div>
      <div class="user-calling">
        <div class="f_name"><%= current_user.full_name %></div>
        <div class="u_name"><%= symbol_nick current_user%></div>
      </div>
    </div>
    <div class="d-flex user-tile w-100 justify-content-around align-items-center py-4">
      <div class="avatar">
        <%= gravatar_for(current_user, 75) %>
      </div>
      <div class="user-calling">
        <div class="f_name"><%= current_user.full_name %></div>
        <div class="u_name"><%= symbol_nick current_user%></div>
      </div>
    </div>
    <div class="d-flex user-tile w-100 justify-content-around align-items-center py-4">
      <div class="avatar">
        <%= gravatar_for(current_user, 75) %>
      </div>
      <div class="user-calling">
        <div class="f_name"><%= current_user.full_name %></div>
        <div class="u_name"><%= symbol_nick current_user%></div>
      </div>
    </div>
    <div class="d-flex user-tile w-100 justify-content-around align-items-center py-4">
      <div class="avatar">
        <%= gravatar_for(current_user, 75) %>
      </div>
      <div class="user-calling">
        <div class="f_name"><%= current_user.full_name %></div>
        <div class="u_name"><%= symbol_nick current_user%></div>
      </div>
    </div>
    <div class="d-flex user-tile w-100 justify-content-around align-items-center py-4">
      <div class="avatar">
        <%= gravatar_for(current_user, 75) %>
      </div>
      <div class="user-calling">
        <div class="f_name"><%= current_user.full_name %></div>
        <div class="u_name"><%= symbol_nick current_user%></div>
      </div>
    </div>
    <div class="d-flex user-tile w-100 justify-content-around align-items-center py-4">
      <div class="avatar">
        <%= gravatar_for(current_user, 75) %>
      </div>
      <div class="user-calling">
        <div class="f_name"><%= current_user.full_name %></div>
        <div class="u_name"><%= symbol_nick current_user%></div>
      </div>
    </div>
    <div class="d-flex user-tile w-100 justify-content-around align-items-center py-4">
      <div class="avatar">
        <%= gravatar_for(current_user, 75) %>
      </div>
      <div class="user-calling">
        <div class="f_name"><%= current_user.full_name %></div>
        <div class="u_name"><%= symbol_nick current_user%></div>
      </div>
    </div>
    <div class="d-flex user-tile w-100 justify-content-around align-items-center py-4">
      <div class="avatar">
        <%= gravatar_for(current_user, 75) %>
      </div>
      <div class="user-calling">
        <div class="f_name"><%= current_user.full_name %></div>
        <div class="u_name"><%= symbol_nick current_user%></div>
      </div>
    </div>
    <div class="d-flex user-tile w-100 justify-content-around align-items-center py-4">
      <div class="avatar">
        <%= gravatar_for(current_user, 75) %>
      </div>
      <div class="user-calling">
        <div class="f_name"><%= current_user.full_name %></div>
        <div class="u_name"><%= symbol_nick current_user%></div>
      </div>
    </div>
  </div>
</div>
