<div class="user-mn-tl-panel">
  <div class="shrinking">
    <div class="d-block cover-frame">
      <%= cover_for(@user, 1920, 350) %>
    </div>
    <div class="banner d-flex justify-content-start py-3">
      <%= link_to 'Tweets', root_path, class: "banner-text padded-link"%>
      <%= link_to 'Photos', '#', class: "banner-text padded-link"%>
      <%= link_to 'Videos', '#', class: "banner-text padded-link"%>
    </div>
  </div>
  <div class="row d-flex flex-column align-items-center">
    <div class="col-11">
      <div class="content-wrapper shadow my-4">
        <div class="chirp-container">
          <span class="chirp-title my-2 ml-3"><%="Chirp to #{ symbol_nick(@user) }" %></span>
          <%= form_for Chirp.new do |f| %>
            <div class="form-row d-flex justify-content-center">
              <div class="form-group ml-3 w-80">
                <%= f.text_field :content, class: 'form-control', placeholder: "What's going on?", value: "#{ symbol_nick(@user) }" %>
              </div>
              <div class="form-group mx-3">
                <%= f.submit 'Chirp it!', class: 'btn outline-primary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <ul class="chirps-tl d-flex flex-column list-unstyled w-100">
        <%= render @user.chirps %>
      </ul>
    </div>
  </div>
</div>
