<div class="static-wrapper login-view row d-flex">
  <div class="col-12 d-flex flex-column">
    <h1 class="static-title py-3 ml-auto mr-2 mt-0 white-text"><%= t('.sign_in') %></h1>
    <div class="row">
      <div class="col-10 offset-1 col-lg-3 offset-lg-9">
        <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "floating-f white-bg mx-auto my-auto shadowed-box"} do |f| %>
          <%= render 'devise/registrations/logosvg' %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: "email" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder: "password" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="form-group form-check">
              <%= f.check_box :remember_me, class: 'form-check-input' %>
              <%= f.label :remember_me, class: 'form-check-label' do %>
                <%= resource.class.human_attribute_name('remember_me') %>
              <% end %>
            </div>
          <% end %>
          <div class="form-group d-flex">
            <%= f.submit  t('.sign_in'), class: "btn outline-primary text-center login mt-2 w-100" %>
          </div>
          <div class="form-group d-flex">
            <%= link_to  "Forgot your password?", new_user_password_path, class: "btn outline-primary text-center login mt-2 mr-auto"%>
            <%= link_to  "Sign up", new_user_registration_path, class: "btn outline-primary text-center login mt-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
